@keyframes backgr_anim {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

.Gradient {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 120%;
    width: 100%;
    z-index: -2;
    animation-name: backgr_anim;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    background: linear-gradient(45deg, rgb(238, 119, 82), rgb(231, 60, 126), rgb(35, 166, 213), rgb(35, 213, 171)) 50% / 300% 300%;
    overflow: hidden;
}